:root{
    --gray-fae:#26261c;
    --light-gray-fae:#3e3e36;
    --mostard-color: #d6c036;
}

*{
    margin:0;
    padding:0;
}

html, body{
    height: 100vh;
}


.bi.bi-whatsapp, .bi.bi-arrow-right, .bi.bi-envelope{
    color: var(--mostard-color);
}

header{
    display: flex;

}

header .show-courses{
   display: flex;
   width: calc(40% + 50px);
   background:#424032;
   color:white;
   justify-content:flex-end;
}

header .show-courses .description{
    display: flex;
    padding:2%;
    flex-direction: column;
    width: 310px;
 }

 header .show-courses .description p{
    margin: 0;
    font-size:20px;
    font-weight: bold;
 }

 header .show-courses .description .view-courses{
   font-weight:300;
   font-size: 14px;
 }

 header .show-courses .description a{
    text-decoration: none;
    text-align:center;
    font-size: 12px;
    color:white;
    text-decoration: underline;
  }


 header .show-courses .description span{
    color: var(--mostard-color);
    font-weight: 300;
 }

 header .show-courses .description .title{
    width: 100%;
 }

 header .show-courses .description .title p{
    width: 100%;
    font-weight:400;
    font-size: 12pt;
    float: right;
    line-height:1;
 }

 header .show-courses .description .title .word-fae{
    float:left;
    font-weight:bold;
    color: var(--mostard-color);
    font-size: 30pt;
    margin-right: 2%;
 }

 header .show-courses .description .title span:last-child{
    color: rgb(255, 255, 255);
    font-weight:400;
    line-height:1.3;
 }

header .show-courses .description ul{
    font-size:12px;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    padding:0 2%;
    
 }

 header .show-courses .description ul li{
    display:flex;
    width:80%;
    justify-content:flex-end;
    align-items: center;
 }

 header .show-courses .description ul li i{
    margin-left: 10px;
    font-size:21px;

 }

 header .show-courses .description hr{
    border-top: 1px solid rgb(255, 255, 255);
    margin-top:0.4rem;
    margin-bottom: 0.5rem;
 }



header .subscribe{
    width: calc(60% -  50px);
    background:#fed900;
    border-left: 100px solid #424032;
    border-top: 550px solid transparent;
 }


main{
    width:100%;
}

#section-contacts-information{
    display:flex;
    background: var(--gray-fae);
    padding:2%;
    justify-content: center;
    gap:1rem;
}

#section-contacts-information .card{
   background-color:var(--light-gray-fae);
   color:white;
   border-radius:0.3rem;
   width:450px;
}

#section-contacts-information .card .card-body{
    display:flex;
 }

 #section-contacts-information .card .card-body .card-title{
    width:150px;
    
 }

 #section-contacts-information .card .card-body .card-text{
    width:150;
    font-weight:100;
 }

 #section-contacts-information .card:last-child .card-body p{
     line-height:1.9;
 }

 #section-contacts-information .card .card-body h5 span:first-child{
    color: var(--mostard-color);
    font-weight:100;
 }

 #section-contacts-information .card .card-body h5 span:last-child{
    margin-left:10px;
    font-weight:bold;
 }

footer{
    position:relative;
    width:100%;
    background:var(--gray-fae);
    padding:1rem;
    text-align:right;
    bottom: 0;
}

@media screen and (max-width: 860px) {

    #section-contacts-information{
        flex-direction: column;
    }

    #section-contacts-information .card{
        display:inline-block;
        margin: 0 auto;
     }

    #section-contacts-information .card .card-body{
        display:inline-block;
        padding:2rem 3rem;
     }

    #geo-location-map{
        display: none;
    }

    footer{
        text-align:center;
    }
}