:root{
    --gray-fae:#26261c;
    
    --light-gray-fae:#3e3e36;
    --mostard-color: #d6c036;
}

*{
    margin:0;
    padding:0;
}

.clear{
    clear:both;
}

html, body{
    height: 100vh;
    background:#424032;
   
}


.bi.bi-whatsapp, .bi.bi-arrow-right, .bi.bi-envelope,.bi.bi-chevron-down{
    color: var(--mostard-color);
}


header{
    position: relative;
    width: 100%;
    display: flex;
}

header .show-courses{
    position:relative;
    z-index: 1;
    background:#424032;
    display: flex;
    width: 40%;
    color:white;
    justify-content:flex-end;

}

header .show-courses::after{
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background:#424032;
    transform-origin: top right;
    -ms-transform: skew(16deg, 0deg);
    -webkit-transform: skew(16deg, 0deg);
    transform: skew(16deg, 0deg);
}

header .show-courses .description{
    display: flex;
    padding:2%;
    flex-direction: column;
    width: 310px;
}

header .show-courses .description p{
    margin: 0;
    font-size:20px;
    font-weight: bold;
}

header .show-courses .description .view-courses{
    font-weight:300;
    font-size: 14px;
}

header .show-courses .description a{
    text-decoration: none;
    text-align:center;
    font-size: 12px;
    color:white;
    text-decoration: underline;
}


header .show-courses .description span{
    color: var(--mostard-color);
    font-weight: 300;
}

header .show-courses .description .title{
    width: 100%;
}

header .show-courses .description .title p{
    width: 100%;
    font-weight:400;
    font-size: 22pt;
    float: right;
    line-height:1;
}

header .show-courses .description .title .word-fae{
    float:left;
    font-weight:bold;
    color: #fed900;
    font-size: 50pt;
    margin-right: 2%;
    font-family: tahoma, arial, helvetica;
    letter-spacing:-5px;
}

header .show-courses .description .title span:last-child{
    color: rgb(255, 255, 255);
    font-weight:400;
    line-height:1.3;
}

header .show-courses .description ul{
    font-size:12px;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    padding:0 2%;
}

header .show-courses .description ul li{
    display:flex;
    width:80%;
    justify-content:flex-end;
    align-items: center;
}

header .show-courses .description ul li i{
    margin-left: 10px;
    font-size:21px;
}

header .show-courses .description hr{
    border-top: 1px solid rgb(255, 255, 255);
    margin-top:0.4rem;
    margin-bottom: 0.5rem;
}

header .subscribe{
    display: flex;
    width: 60%;
    background:#fed900;
}

header .subscribe .content{
    z-index: 2;
    display: flex;
}

header .subscribe .content img{
    height:679px;
    width:332px;
}

header .subscribe .content-text{
    display: flex;
    flex-direction:column;
    padding: 2%;
    width:300px;
}

header .subscribe .content-text h4{
    text-align: center;
    font-size: 28pt;
    font-family: georgia;
    font-weight: 600;
    letter-spacing: -4px;
    font-style: italic;
    text-decoration: underline #fff 1px;
    line-height: 0.5;
    text-underline-offset: 4px;
}

header .subscribe .content-text .title{
    text-align: center;
    font-size: 5pt;
    letter-spacing: 4px;
    font-weight: 600;
    color:black;
    font-style: italic;
}

header .subscribe .content-text p,h5{
    color:#5b5a51;
    line-height:1.5rem;
}

header .subscribe .content-text p{
    font-size:10pt;
}

header .subscribe .content-text a{
    width:150px;
    font-weight: bold;
    text-decoration: none;
    color:white;
    background-color:#424032;
    padding:3%;
    border-radius: 0.2rem;
    text-align: center;
    margin-top:30px;
    margin-bottom:30px;
}

header .subscribe .content-text a:hover{
    color:rgb(199, 199, 199);
    background-color:#525041;
}

main{
    width:100%;
}

#section-contacts-information{
    display:flex;
    background: var(--gray-fae);
    padding:2%;
    justify-content: center;
    gap:1rem;
}

#section-contacts-information .card{
   background-color:var(--light-gray-fae);
   color:white;
   border-radius:0.3rem;
   width:450px;
}

#section-contacts-information .card .card-body{
    display:flex;
 }

 #section-contacts-information .card .card-body .card-title{
    width:150px;
 }

 #section-contacts-information .card .card-body .card-text{
    width:150;
    font-weight:100;
 }

 #section-contacts-information .card:last-child .card-body p{
     line-height:1.9;
 }

 #section-contacts-information .card .card-body h5 span:first-child{
    color: var(--mostard-color);
    font-weight:100;
 }

 #section-contacts-information .card .card-body h5 span:last-child{
    margin-left:10px;
    font-weight:bold;
    color:white;
 }

footer{
    position:relative;
    width:100%;
    background:var(--gray-fae);
    padding:1rem;
    text-align:right;
    bottom: 0;
}

.mobile-call-action{
    display:none;
}

#section-contacts-information a{
    display: none;
}


@media screen and (max-width: 1075px) {

    header{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    header .show-courses{
        position:relative;
        z-index: 1;
        background:#424032;
        display: flex;
        width: 100%;
        color:white;
        justify-content:center;
        
    }

    header .show-courses::after{
        content: " ";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        background:#424032;
        transform-origin: top right;
        -ms-transform: skew(-16deg, 0deg);
        -webkit-transform: skew(-16deg, 0deg);
        transform: skew(-16deg, 0deg);
    }

    header .show-courses .description{
        display: flex;
        padding:2%;
        flex-direction: column;
        width: 350px;
    }

    header .show-courses .description .title span:last-child{
        line-height:1;
    }

    header .show-courses .description ul li{
        display:flex;
        width:80%;
        justify-content:flex-end;
        align-items: center;
    }

    header .show-courses .description .view-courses{
        display:none;
    }

    header .show-courses .description a {
        display:none;
    }

    header .show-courses .description .course-at-other-city{
        font-weight:300;
        font-size: 14px;
        text-align: right;
    }

    header .show-courses .description .course-at-other-city span{
        color:white;
        font-weight:bold;
        text-decoration: underline;
        cursor: pointer;
    }

    header .subscribe{
        display: flex;
        width: 100%;
        background:#fed900;
        clip-path: polygon( 0 0,100% 10%,100% calc(100% - 10%),0 100%);
        web-clip-path: polygon( 0 0,100% 10%,100% calc(100% - 10%),0 100%);
        
    }

    header .subscribe .content{
        display: flex;
        flex-direction: row;
        width: 100%;
        background:#fed900;
        flex-direction: row-reverse;
    }

    header .subscribe .content img{
        position: absolute;
        height:400px;
        width:200px;
        margin-top:30px;
        align-self: flex-end;
    }

    header .subscribe .content-text {
       float:right;
       width: 100%;
    }

    header .subscribe .content-text h4 {
        display:none;
    }

    header .subscribe .content-text .title {
        display:none;
    }

    header .subscribe .content-text h5 {
        margin-top:60px;
        color: #5b5a51;
        line-height: 2rem;
        font-size:25pt;
        align-self: center;
        width:100%;
    }

    header .subscribe .content-text p {
        font-size: 15pt;
    }

    header .subscribe .content-text p:last-child {
       width:250px;
       text-align: center;
       color:black;
    }

    header .subscribe .content-text p:last-child b{
        text-decoration: underline 1px solid;
        text-underline-offset: 3px;
    }

    header .subscribe .content-text a {
        padding:1rem;
        width:250px;
    }

    .bi.bi-chevron-down{
        font-size:15pt;
    }

    .desktop{
        display:none;
    }

    .mobile-call-action{
        display:inline-block;
        width:280px;
    }

    #section-contacts-information{
        background: #424032;;
       
    }
  
}


@media screen and (max-width: 860px) {

    #section-contacts-information{
        flex-direction: column;
    }

    #section-contacts-information .card{
        display:inline-block;
        margin: 0 auto;
     }

    #section-contacts-information .card .card-body{
        display:inline-block;
        padding:2rem 3rem;
     }

     #section-geo-location-map{
        display:none;
    }

    #section-contacts-information a{
        display:inline-block;
        color:white;
        text-decoration:none;
        font-weight: bold;
        border: 4px solid var(--mostard-color);
        padding:4%;
        border-radius: 0.3rem;
    }

    footer{
        text-align:center;
    }
}